<div>
  <!-- Your code goes here -->
  {#I want to be an accordion!!#}
  <!-- End of your code -->
</div>

{#Task 2 - Card#}

<div class="card">
  <h4 class="card-header">Card header</h4>
  <img src="..." class="card-img-top .img-fluid. width: 100%" alt="an image">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Here goes the content of the card</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
  <div class="card-footer">
    Card footer
  </div>
</div>